{% extends 'layout.html' %}

{% block content %}
   <div>
        <div class="page-inner-content">
        <h3 class="section-title">Animais para adoção</h3>
        <div class="subtitle-underline"></div>
            <div class="cols cols-3">

                    <img src="/static/images/animals/2.png"/>

                <div class="polaroid">
                    <img src="/static/images/animals/3.png"/>
                </div>
                <div class="polaroid">
                    <img src="/static/images/animals/4.png"/>
                </div>
            </div>
            <button class="button">Ver mais...</button>
        </div>
    </div>


    <div>
        <div class="page-inner-content">
            <h3 class="section-title">O Porquê de Adotar</h3>
            <div class="subtitle-underline"></div>
            <div class="cols cols-3">
                <div>
                    <p class="subtitle"><b>Salvar uma vida</b></p>
                    <p class="justify">
                            Ao adotar um animal, oferece-se uma nova oportunidade a um pet que, muitas vezes, foi abandonado ou vive em abrigos em condições difíceis. A adoção representa um ato de compaixão e responsabilidade social.
                    </p>
                </div>
                <div>
                    <p class="subtitle"><b>Companhia e bem-estar emocional</b></p>
                    <p class="justify">
                        Os animais de estimação proporcionam afeto, companhia e contribuem para a redução do estresse e da solidão, melhorando significativamente a qualidade de vida dos tutores.
                    </p>
                </div>
                <div>
                    <p class="subtitle"><b>Ato econômico e consciente</b></p>
                    <p class="justify">
                        Adotar é uma escolha mais acessível e sustentável do que comprar. Além disso, ajuda a combater o comércio irregular de animais e promove uma cultura de respeito e cuidado com a vida animal.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
