<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PataCerta</title>
    <link rel="stylesheet" href="/static/styles/globals.css" />
    <link rel="icon" href="/static/images/logo.png">
</head>
<body>
    <!-- Cabeçalho -->
    <header class="navbar show-menu">    
        <div class="header-inner-content">
            <img class="logo" src="/static/images/logo.png"></img>
            <nav>
                 <ul>
                    <li>Adoção</li>
                    <li>ONGs</li>
                    <li>Pets Desaparecidos</li>
                </ul>
            </nav>
            <img src="/static/images/iconlogin.png" class="menu-button"/>  
        </div>
    </header>

    <!-- Conteudo principal -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Rodapé -->
    <footer class="red-background">
        <div class="header-inner-content">
        <div class="header-bottom-side exclusive-container">
            <div class="header-bottom-side-right">
                <h2>Quem somos nós</h2>
                <p>Somos uma equipe com a ideia de ajudar animais de rua a encontrarem um bom lar e uma boa vida, se quiserem conhecer mais sobre nós clique no saiba mais</p>
                <button>Saiba mais &#8594;</button>
            </div>
            <div class="header-bottom-side-left">
                <p>  Instagram | Facebook | WhatsApp </p>    
                <p>  Parceiros: ONG Vida Animal • PetCare • AdoteJá </p>
                <p>© 2025 AdotaPet — Transformando carinho em novas histórias. </p>
            </div>
        </div>
    </footer> 
</body>
</html>

